@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./phone-number.style.css");
/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

html {
  scroll-behavior: smooth;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a7a7a7;
}

.dropdown-enter-active,
.dropdown-leave-active {
  transition: opacity 0.3s ease;
}
.dropdown-enter-from,
.dropdown-leave-to {
  opacity: 0;
}

.container-height {
  height: calc(100vh - 61px);
  min-height: calc(100vh - 61px);
  max-height: calc(100vh - 61px);
}

.far-sidebar-height {
  height: calc(100vh - 140px);
  min-height: calc(100vh - 140px);
  max-height: calc(100vh - 140px);
}

.for-playground-height {
  height: calc(100vh - 120px);
  min-height: calc(100vh - 120px);
  max-height: calc(100vh - 120px);
}

.adjustable-height {
  height: calc(100% - 60px) !important;
}

/* input range slider */

input[type="range"] {
  width: 100%;
  appearance: none;
  overflow: hidden;
  border-radius: 32px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #ffffff;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  box-shadow: -1024px 0 0 1008px #505ad7;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #e6e6e6;
  box-shadow: inset 0px 0px 0px 8px #ffffff;
  border-radius: 32px;
}