@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./phone-number.style.css");
@import url("./chatbot.style.css");
/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

html {
  scroll-behavior: smooth;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a7a7a7;
}

.dropdown-enter-active,
.dropdown-leave-active {
  transition: opacity 0.3s ease;
}
.dropdown-enter-from,
.dropdown-leave-to {
  opacity: 0;
}

.container-height {
  height: calc(100vh - 61px);
  min-height: calc(100vh - 61px);
  max-height: calc(100vh - 61px);
}

.far-sidebar-height {
  height: calc(100vh - 140px);
  min-height: calc(100vh - 140px);
  max-height: calc(100vh - 140px);
}

.adjustable-height {
  height: calc(100% - 60px) !important;
}

.single-line-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* optional: to show ellipsis if text overflows */
}
